Source: kthxbye
Section: devel
Priority: extra
Maintainer: Filippo Giunchedi <fgiunchedi@wikimedia.org>
Build-Depends: debhelper (>= 10),
               dh-systemd,
               git,
               ca-certificates,
               golang-go,
Standards-Version: 3.9.7
Homepage: https://github.com/prymitive/kthxbye

Package: kthxbye
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Acknowledge functionality for Alertmanager alerts.
